<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <title>Happy woman day 2019</title>

    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <h1>Chúc mừng ngày Phụ nữ Việt Nam 2020 ^^</h1> 
    <img id="image0" src="images/image1.gif" class="ImgPopup ImgPopup0" />
    <img id="image1" src="images/image2.gif" class="ImgPopup ImgPopup1" />
    <img id="image2" src="images/image3.gif" class="ImgPopup ImgPopup2" />
    <img id="image3" src="images/image4.gif" class="ImgPopup ImgPopup3" />
    <img id="image4" src="images/image5.gif" class="ImgPopup ImgPopup4" />
    <img id="image5" src="images/image6.gif" class="ImgPopup ImgPopup5" />
    <img id="image6" src="images/image7.gif" class="ImgPopup ImgPopup6" />
    <img id="image7" src="images/image8.gif" class="ImgPopup ImgPopup7" />
    <img id="image8" src="images/image9.gif" class="ImgPopup ImgPopup8" />
    <img id="image9" src="images/image10.gif" class="ImgPopup ImgPopup9" />
    <audio id="myAudio" controls autoplay>
      <source src="music/music.mp3" type="audio/mpeg" auto/>
      Your browser does not support the audio element.
    </audio>
  </body>
  <script type="text/javascript" src="js/index.js"></script>
</html>
